@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html {
    background-color: rgba(122, 191, 191, 0.5);
}

body {
    background-color: #f2f2f2;
}

h1 {
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

h3 {
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
}

nav a, nav span, menu li button, #social li, footer {
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

p, dd, li, nav, input {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

dt {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

@media screen and (min-width: 414px) {
    body {
        width: 414px;
        margin: 0 auto;
    }

    section.main-nav {
        position: fixed;
        top: 0;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        overflow: hidden;
        max-height: 0;
    }

    label {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    label span {
        background-color: #ffffff;
        display: block;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
        width: 18px;
    }

    label span:before, label span:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    label span:before {
        top: 5px;
    }

    label span:after {
        top: -5px;
    }

    input {
        display: none;
    }

    input:checked ~ ul {
        max-height: 500px;
    }

    input:checked ~ label span {
        background: transparent;
    }

    input:checked ~ label span:before {
        transform: rotate(-45deg);
    }

    input:checked ~ label span:after {
        transform: rotate(45deg);
    }

    input:checked ~ label:not(.steps) span:before, input:unchecked ~ label:not(.steps) span:after {
        top: 0;
    }

    section.main-nav > h2 {
        font-size: 0;
        width: 1px;
        height: 1px;
        display: inline-block;
        overflow: hidden;
    }

    header {
        padding-top: 500px;
    }
}


@media screen and (min-width: 768px) {
    body {
        width: 768px;
        margin: 0 auto;
    }
}


@media screen and (min-width: 1280px){
    
    body {
        width: 1280px;
        margin: 0 auto;
    }
    
    section.main-nav {
        position: fixed;
        top: 0;
    }

    #logo, li>a[href="top"] {
        position: fixed;
        top: 0;
        left: 310px;
        background-color: #eb5428;
        padding: 15px;
    }

    li>a[href="#top"] {
        left: 0;
        font-size: 0;
        height: 1px;
        width: 1px;
    }
    
    nav.main-nav ul {
        overflow: visible;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        margin-left: 250px;
        background-color: #ffffff;
        margin-right: 300px;
    }

    .title {
        margin-left: 0;
        margin-right: 650px;
    }

    label span, input {
         display: none;
    }

    nav.main-nav img {
        display: flex;
        width: 50px;
        height: auto;
        bottom: 15px;
    }

    nav.main-nav li {
        padding-right: 50px;
        align-content: center;
    }

    #profile, li>a[href="#profile"] {
        position: fixed;
        top: 0;
        right: 310px;
        background-color: #eb5428;
        padding: 25px;
    }

    nav.main-nav a {
        text-decoration: none;
        color: #eb5428;
        margin-top: 15px;
        z-index: 1;
    }

    nav.main-nav {
        background-color: #ffffff;
        width: 1280px;
        padding-top: 30px;
        margin-top: -18px;
    }

}